@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Merriweather|Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');
@import url('components/container.css');
@import url('components/avatar.css');
@import url('components/button.css');
@import url('components/banner.css');
@import url('components/card.css');
@import url('components/footer.css');
@import url('components/content.css');

body{
	font-family: 'Merriweather', serif;
	font-size: 10px
	margin: 0px;
	background-color: #faf5e4;

}


h1{
	font-size: 48px;
}

h2,h3{
	font-size: 30px;
	color:white;
}

#logo{
	width: 120px;
  	height: 85px;
	display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;

}


.typeform-widget{
		margin-bottom: 30px;
		margin-top:30px;
}


#globe{
	width: 90%;
	margin-bottom: 6%;
	margin-top: 4%;
}

#glob{
	font-family: 'Abril Fatface', serif;
  	color: #2a4241;
  	font-size: 1.4em;
  	position: relative;
  	margin-top: -18%;
  	margin-bottom: 2%;
}

@media screen and (max-width: 64em) {
 body {
      font-size: 100%;
   }
}

@media screen and (max-width: 50em) {
 body {
       font-size: 80%;
   }
}

@media screen and (max-width: 30em) {
   body {
        font-size: 50%;
  }




